body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
   
  }

  .logo{
    width: auto;
    height: 120px;
  }
  
  .blur{
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0);
    height: 100%;
  }

  .imagebg{
    background-image: url("../image/clinicbackground.jpg");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container{
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .form {
    box-sizing: border-box;
    padding: 20px;
  }

  
  .subtitle{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
  }

  .title {
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
  
  .input-container {
    
    height: 50px;
    position: relative;
    width: 100%;
  
  }
  

  .ic2 {
    margin-top: 20px;
  }
  
  .input {
    background-color: #f9f6f2;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    border: 1px solid #000;
    
  }
  
  .cutTicket{
    background-color: white;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 150px;
  }

  .cutEmail{
    background-color: white;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 70px;
  }
  
  .icon{
      margin: 0px 4px;
  }
  
  .input:focus ~ .cutTicket,
  .input:not(:placeholder-shown) ~ .cutTicket {
    transform: translateY(8px);
  }
  
  .input:focus ~ .cutEmail,
  .input:not(:placeholder-shown) ~ .cutEmail {
    transform: translateY(8px);
  }

  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
   
  }
  
  .input:focus ~ .placeholder {
    color: black;
  }
  
  .submit {
    
   
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 50px;
    outline: 0;
    text-align: center;
    width: 45% ;

  }
   

  
  .submit:active {
    background-color: green;
  }